ul li {
list-style-type: georgian;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;

    grid-template-areas: 
    'h h'
    'n c'
    ;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
   grid-gap: 10px;
}


h3 {
 margin: 0px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #202020;
  border-radius: 20px;
  }



/*.header {
grid-area: h;
background-color: rgb(219, 154, 226);
}

.header img {
    width: 30px;
}
*/
/*.nav {
    grid-area: n;
    background-color: rgb(205, 234, 168);
    }
    */
    
  /*  .content {
        grid-area: c; 
        background-color: rgb(132, 176, 205);
        }
        */





