.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
}


.dialogsItems {

}


.dialogsItems a.activeLink{
    color: gold;
  } 



/*.dialogsItems .active {
color: gold; 
}*/

.messages {
    padding: 20px;
}

.dialogs a {
    color: white;
    text-decoration: none;
    }
     
    a:hover {
      color:rgb(38, 154, 137);
      }

