

.nav {
  grid-area: n;
  background-color: #202020;
  border-radius: 20px;
  padding: 20px;
  }

  .item a {
  color: white;
  text-decoration: none;
  }
   
  a:hover {
    color:rgb(20, 62, 99);
    }

  .item a.activeLink{
    color: gold;
  } 

 